<div class="principal">
    <div class="centraliza-meio">
        <div class="form-login">
            <mat-toolbar color="primary">
                <span>Nossa Empresa Vitual</span>
            </mat-toolbar>
            <mat-card class="centralizar-form-login">

                <form class="login" [formGroup]="form">
                    <!-- <label for="usuario">Email</label>
                    <input type="text" name="usuario" id="usuario" required formControlName="email"> -->
                    <mat-form-field class="entrada-texto">
                        <input matInput placeholder="E-mail" type="email" required formControlName="email">
                        <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
                            Entre com um email valido
                        </mat-error>
                        <mat-error *ngIf="form.get('email').hasError('required')">
                            Email é
                            <strong>exigido</strong>
                        </mat-error>
                    </mat-form-field>
                    <!-- <label for="pass">Senha</label>
                    <input type="password" name="pass" id="pass" required formControlName="pass"> -->

                    <mat-form-field class="entrada-texto">
                        <input type="password" matInput placeholder="Senha" required formControlName="pass">
                        <mat-error *ngIf="form.get('pass').hasError('required')">
                            Senha é
                            <strong>exigido</strong>
                        </mat-error>
                        <mat-error *ngIf="form.get('pass').hasError('minlength')">
                            Senha menor que 6 caracteres
                        </mat-error>
                    </mat-form-field>
                    <button class="entrada-texto" mat-raised-button color="primary" (click)="login($event)">Entrar</button>
                </form>
            </mat-card>
        </div>
    </div>
</div>