/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.entrada-texto
{
    width: 50vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}
.form-login
{
    width: 60vw;
    max-width: 600px;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 20ch;
}
.centralizar-form-login, .login
{
    margin: 0 auto;
}
.login
{
    align-items: center;
    align-content: center;
    text-align: center;
}